/* Contenedor principal con el borde verde lateral */
.menu-roles-container {
    max-width: 300px;
    border-right: 6px solid burlywood;
}

/* Contenedor de la lista de enlaces del administrador */
.menu-admin-lista {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    padding: 10px 0;
}

/* Estilo para los enlaces azules */
.menu-admin-link {
    color: #00129e;
    text-decoration: none;
    font-size: 1rem;
}

/* Efecto opcional al pasar el ratón por encima */
.menu-admin-link:hover {
    text-decoration: underline;
    color: #00137e;
}